.NoshibariArtRequestInfo {

  form {

    .wpforms-field-container {

      .wpforms-field-email {

        display: flex;
        flex-direction: column;
        align-items: center;

        input {

          text-align: center;
        }
      }
    }

    .wpforms-submit-container {

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .wpforms-confirmation-scroll {

    text-align: center;
  }
}

div.wpforms-container-full {

  margin: $space * 2 auto 0;
}

.wpforms-form {

  width: 300px;
}
